fastapi
uvicorn
python-multipart
pydantic
typing-extensions
langchain
langchain-google-genai
langdetect
deep-translator
pandas
requests
geopy
python-dotenv
firebase-admin
gtts
pillow
speechrecognition
meteostat
google-generativeai
tensorflow
pickle